<!DOCTYPE html>
<html>
<head>
  <title>E-commerce de Livros</title>
  <link rel="shortcut icon" href="/images/BookOpen.svg" type="image/x-icon">
  <link rel="stylesheet" href="/stylesheets/addBook.css">
</head>
<body >
  <header>
    <%- include(navbar) %>
  </header>
<main>
  
      <form action="/addBook" method="post" enctype="multipart/form-data">
          <div class="dataContainer">
            <div class="card">
                <label for="title">TITLE</label>
                <input type="text" id="title" name="title" required>
            </div>
            <div class="card">
                <label for="author">AUTHOR</label>
                <input type="text" id="author" name="author" required>
            </div>
          </div>

          <div class="dataContainer">
            <div class="card">
                <label for="synopsis">SYNOPSIS</label>
                <textarea id="synopsis" name="synopsis" rows="8" cols="33"></textarea>
                <p>Synopsis Max Length: <span id="charCount">500</span></p>
            </div>
            <div class="card">
                <label for="pages_number">NUMBER OF PAGES</label>
                <input type="number" id="pages_number" name="pages_number" required>
            </div>
          </div>

          <div class="dataContainer">
            <div class="card">
                <label for="price">PRICE</label>
                <input type="number" id="price" name="price" required>
            </div>
            <div class="card">
                <p>IS IN STOCK?</p>
                <div class="stockDiv">
                  <input type="radio" id="stockTrue" name="isInStock" value="true">
                  <label for="stockTrue">True</label>
                  <input type="radio" id="stockFalse" name="isInStock" value="false">
                  <label for="stockFalse">False</label>
                </div>
            </div>
          </div>

          <div class="dataContainer">
            <div class="card">
                <label for="category">CATEGORY</label>
                <input type="text" id="category" name="category" required>
            </div>
            <div class="card">
                <label for="idiom">IDIOM</label>
                <input type="text" id="idiom" name="idiom" required>
            </div>
          </div>

          <div class="dataContainer">
            <div class="card">
                <label for="publisher">PUBLISHER</label>
                <input type="text" id="publisher" name="publisher" required>
            </div>
            <div class="card">
                <label for="quantity">QUANTITY</label>
                <input type="number" id="quantity" name="quantity" required>
            </div>
          </div>

          <div class="dataContainer">
            <div class="card">
                <label for="cover">COVER</label>
                <input type="file" id="cover" name="cover" accept="image/*" required>
            </div>
            <div class="card">
                <button type="submit">Add book to sell</button>
            </div>
          </div>

        </form> 

        <div id="errorMessage"></div>
        <div id="successMessage"></div>

    <footer>
      All Rights Reserved: by Diego Deiro & Henrique Viana 
  </footer>

  <script>
    const textarea = document.getElementById('synopsis');
    const charCountSpan = document.getElementById('charCount');
    const maxLength = 500; 

    textarea.addEventListener('input', function() {
        const currentLength = textarea.value.length;
        const remainingChars = maxLength - currentLength;

        charCountSpan.textContent = remainingChars;

        if (remainingChars < 0) {
            textarea.value = textarea.value.substring(0, maxLength);
            charCountSpan.textContent = 0;
        }
    });
</script>
</main>
</body>
</html>
