<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favoritebook</title>
    <link rel="stylesheet" href="/stylesheets/Favoritebook.css">
</head>
<body>
    
    <header>
        <%- include(navbar) %>
      </header>
  

      <div class="contentfovorite"> 
        <div class="firstContainerfavorite">
          
          <div class="searchBox">
              <input type="text" class="textBox" placeholder="Research your book">
              <button class="seachBoxButton">
                  <img class="lop-blue" src="/images/loupe-blue.svg" alt="" width="25px" height="25px">
                  <img class="lop-white" src="/images/loupe-white.svg" alt="" width="25px" height="25px">

              </button>
          </div>
        </div>

        

    </div>


    <div class="secondContainerfavorite">
        <div class="categoryText1" > 
        <p style="text-align: center;" class="categoryText"><strong>Resulte :  </strong></p>
        <p class="texte2">sdsd</p>
    </div>
            
        
    </div>





</body>
</html>