<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/stylesheets/index.css">
    <link rel="shortcut icon" href="/images/BookOpen.svg" type="image/x-icon">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  </head>

  <style>
</style>

<body data-user-id="<%= userId %>">  
    
    <header>
      <%- include(navbar) %>
    </header>
    
         <div class="popup" id="myPopup">
            <p id="popupParagraph"></p>
            <button id="closePopup">Close</button>
        </div>

    <main>
      <div class="firstContainer"> 
        <div class="firstContainerText">
            <p class="startText1">Which book do you want to look for?</p>
            <p class="startText2">Explore our catalog and find your next read.</p>
            <form class="searchBox" action="/searchBook" method="post">
                <input type="text" class="textBox" id="searchText" name="searchText" placeholder="Research your book">
                <button class="seachBoxButton" id="searchButton" type="submit">
                    <img class="lop-blue" src="/images/loupe-blue.svg" alt="" width="25px" height="25px">
                    <img class="lop-white" src="/images/loupe-white.svg" alt="" width="25px" height="25px">
                </button>
            </form>     
        </div>

          <h2>
              <img src="/images/BannerImg.jpg" alt="oppeImage" class="startImage">
          </h2>

      </div>

      <div class="secondContainer">
          <p style="text-align: center;" class="categoryText"><strong>Trending Books</strong></p>
          <div id="highligth" class="highligth">
              <div class="highligthChild" id="item1">item1</div>
              <div class="highligthChild" id="item2">item2</div>
              <div class="highligthChild" id="item3">item3</div>
              <div class="highligthChild" id="item4">item4</div>
              <div class="highligthChild" id="item5">item5</div>
          </div>
      </div>

      <div class="TContainer">
          <p class="categoryText"><img class="img-cate" src="/images/FOLDER_NOTCH_OPEN.svg" alt="Categories">Categories</p>

          <div class="highligth1">
              <a href="#"><button>Action</button></a>
              <a href="#"><button>Classics</button></a>
              <a href="#"><button>Fantasy</button></a>
          </div>

          <div class="highligth1">
              <a href="#"><button>Horror</button></a>
              <a href="#"><button>Adventure Stories</button></a>
              <a href="#"><button>Historical Fiction</button></a>
          </div>
      </div>

      <div class="fourthContainer">
          <p class="categoryText"><img class="img-cate" src="/images/FOLDER_NOTCH_OPEN.svg" alt="Categories">Fantasy</p>
          <div class="highligth">
            <div class="highligthCard">
                <div class="highligthChild" id="item1Fantasy">item1</div>
                <div class="highligthChildElememt">
                    <p id="item1FantasyPrice"></p>
                    <a href="" class="favLinks">
                        <p class="favImg"></p>
                    </a>
                    <a href="">
                        <p id="cartImg"><img src="/images/SHOPPING_CART _Black.svg" alt=""></p>
                    </a>
                </div>
            </div>
            <div class="highligthCard">
                <div class="highligthChild" id="item2Fantasy">item2</div>
                <div class="highligthChildElememt">
                    <p id="item2FantasyPrice"></p>
                    <a href="" class="favLinks">
                        <p class="favImg"></p>
                    </a>
                    <a href="">
                        <p id="cartImg"><img src="/images/SHOPPING_CART _Black.svg" alt=""></p>
                    </a>
                </div>
            </div>
            <div class="highligthCard">
                <div class="highligthChild" id="item3Fantasy">item3</div>
                <div class="highligthChildElememt">
                    <p id="item3FantasyPrice"></p>
                    <a href="" class="favLinks">
                        <p class="favImg"></p>
                    </a>
                    <a href="">
                        <p id="cartImg"><img src="/images/SHOPPING_CART _Black.svg" alt=""></p>
                    </a>
                </div>
            </div>
            <div class="highligthCard">
                <div class="highligthChild" id="item4Fantasy">item4</div>
                <div class="highligthChildElememt">
                    <p id="item4FantasyPrice"></p>
                    <a href="" class="favLinks">
                        <p class="favImg"></p>
                    </a>
                    <a href="">
                        <p id="cartImg"><img src="/images/SHOPPING_CART _Black.svg" alt=""></p>
                    </a>
                </div>
            </div>
            <div class="highligthCard">
                <div class="highligthChild" id="item5Fantasy">item5</div>
                <div class="highligthChildElememt">
                    <p id="item5FantasyPrice"></p>
                    <a href="" class="favLinks">
                        <p class="favImg"></p>
                    </a>
                    <a href="">
                        <p id="cartImg"><img src="/images/SHOPPING_CART _Black.svg" alt=""></p>
                    </a>
                </div>
            </div>
          </div>

      </div>

      <div class="fourthContainer">
          <p class="categoryText"><img class="img-cate" src="/images/FOLDER_NOTCH_OPEN.svg" alt="Categories">Adventure</p>
          <div class="highligth">
            <div class="highligthCard">
                <div class="highligthChild" id="item1Adventure"></div>
                <div class="highligthChildElememt">
                    <p id="item1AdventurePrice"></p>
                    <a href="" class="favLinks2">
                        <p class="favImg"></p>
                    </a>
                    <a href="">
                        <p id="cartImg"><img src="/images/SHOPPING_CART _Black.svg" alt=""></p>
                    </a>
                </div>
            </div>
            <div class="highligthCard">
                <div class="highligthChild" id="item2Adventure"></div>
                <div class="highligthChildElememt">
                    <p id="item2AdventurePrice"></p>
                    <a href="" class="favLinks2">
                        <p class="favImg"></p>
                    </a>
                    <a href="">
                        <p id="cartImg"><img src="/images/SHOPPING_CART _Black.svg" alt=""></p>
                    </a>
                </div>
            </div>
            <div class="highligthCard">
                <div class="highligthChild" id="item3Adventure"></div>
                <div class="highligthChildElememt">
                    <p id="item3AdventurePrice"></p>
                    <a href="" class="favLinks2">
                        <p class="favImg"></p>
                    </a>
                    <a href="">
                        <p id="cartImg"><img src="/images/SHOPPING_CART _Black.svg" alt=""></p>
                    </a>
                </div>
            </div>
            <div class="highligthCard">
                <div class="highligthChild" id="item4Adventure"></div>
                <div class="highligthChildElememt">
                    <p id="item4AdventurePrice"></p>
                    <a href="" class="favLinks2">
                        <p class="favImg"></p>
                    </a>
                    <a href="">
                        <p id="cartImg"><img src="/images/SHOPPING_CART _Black.svg" alt=""></p>
                    </a>
                </div>
            </div>
            <div class="highligthCard">
                <div class="highligthChild" id="item5Adventure"></div>
                <div class="highligthChildElememt">
                    <p id="item5AdventurePrice"></p>
                    <a href="" class="favLinks2">
                        <p class="favImg"></p>
                    </a>
                    <a href="">
                        <p id="cartImg"><img src="/images/SHOPPING_CART _Black.svg" alt=""></p>
                    </a>
                </div>
            </div>
          </div>
      </div>
  </main>

  <footer>
    All Rights Reserved: by Diego Deiro & Henrique Viana 
</footer>
    <script src="/javascripts/index.js"></script>
    <script src="/javascripts/popup.js"></script>
</body>


</html>