<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/stylesheets/index.css">
  </head>
 
<body>
    
    <header>
      <%- include(navbar) %>
    </header>

    <main>
      <div class="firstContainer"> 
          <div class="firstContainerText">
            <p class="startText1">Which book do you want to look for?</p>
            <p class="startText2">Explore our catalog and find your next read.</p>
            <div class="searchBox">
                <input type="text" class="textBox" placeholder="Research your book">
                <button class="seachBoxButton">
                    <img class="lop-blue" src="/images/loupe-blue.svg" alt="" width="25px" height="25px">
                    <img class="lop-white" src="/images/loupe-white.svg" alt="" width="25px" height="25px">
                </button>
            </div>
          </div>

          <h2>
              <img src="/images/BannerImg.jpg" alt="oppeImage" class="startImage">
          </h2>

      </div>

      <div class="secondContainer">
          <p style="text-align: center;" class="categoryText"><strong>Trending Books</strong></p>
          <div id="highligth" class="highligth">
              <div class="highligthChild" id="item1">item1</div>
              <div class="highligthChild" id="item2">item2</div>
              <div class="highligthChild" id="item3">item3</div>
              <div class="highligthChild" id="item4">item4</div>
              <div class="highligthChild" id="item5">item5</div>
          </div>
      </div>

      <div class="TContainer">
          <p class="categoryText"><img class="img-cate" src="/images/FOLDER_NOTCH_OPEN.svg" alt="Categories">Categories</p>

          <div class="highligth1">
              <a href="#"><button>Action</button></a>
              <a href="#"><button>Classics</button></a>
              <a href="#"><button>Fantasy</button></a>
          </div>

          <div class="highligth1">
              <a href="#"><button>Horror</button></a>
              <a href="#"><button>Adventure Stories</button></a>
              <a href="#"><button>Historical Fiction</button></a>
          </div>
      </div>

      <div class="fourthContainer">
          <p class="categoryText"><img class="img-cate" src="/images/FOLDER_NOTCH_OPEN.svg" alt="Categories">Romance</p>
          <div class="highligth">
            <div class="highligthChild" id="item1Fantasy">item1</div>
            <div class="highligthChild" id="item2Fantasy">item2</div>
            <div class="highligthChild" id="item3Fantasy">item3</div>
            <div class="highligthChild" id="item4Fantasy">item4</div>
            <div class="highligthChild" id="item5Fantasy">item5</div>
          </div>

      </div>

      <div class="fourthContainer">
          <p class="categoryText"><img class="img-cate" src="/images/FOLDER_NOTCH_OPEN.svg" alt="Categories">Adventure</p>
          <div class="highligth">
            <div class="highligthChild" id="item1Adventure">item1</div>
              <div class="highligthChild" id="item2Adventure">item2</div>
              <div class="highligthChild" id="item3Adventure">item3</div>
              <div class="highligthChild" id="item4Adventure">item4</div>
              <div class="highligthChild" id="item5Adventure">item5</div>
          </div>
      </div>

      
  </main>


  <footer>
    All Rights Reserved: by Diego Deiro & Henrique Viana 
</footer>
    <script src="/javascripts/getIndexBooks.js"></script>
</body>


</html>