<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/stylesheets/index.css">

  </head>
<body>
    
    <header>
      <%- include(navbar) %>
    </header>

    <main>
      <div class="firstContainer">
        <h1>
          <img src="/images/BookOpen.jpg" alt="..." class="banner">
        </h1>
        <h2 >
          <img src="/images/BannerImg.jpg" alt="imagem de abertura" class="imagem-inicial">
        </h2>
        
          <p class="texto-ini">which book do you want to look for ?</p>
          <p class="texto-ini2"> Explore our catalog and find your next read.   </p>
        
          <div class="caixa-procura">
          <input type="text" class="Caixa-Texto" placeholder="research your book">
          <a class="botao">
          <img class="lop-blue"  src="/images/loupe-blue.svg" alt="" width="25px" height="25px">
          <img class="lop-white" src="/public/images/loupe-white.svg" alt="" width="25px" height="25px">
          </a>
        
        </div>
      </div>
      
      <div class="secondContainer">
        <div class="highlightsContainer">
          <p class="destaques"> <strong> Trending Books </strong></p>
        
        
          <div class="conteiner">
        
            <div class="destaques1"> item 1</div>
        
            <div class="destaques2">  item 2</div>
        
            <div class="destaques3"> item 3 </div>
        
            <div class="destaques4"> item 4 </div>
        
            <div class="destaques5">  item 5 </div>
        
          </div>
        </div>
      </div>
    </main>
 
    <footer>

      
    </footer>

  

</body>
</html>