<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/stylesheets/index.css">
  </head>
 
<body>
    
    <header>
      <%- include(navbar) %>
    </header>

    <main>
      
      
      
      <div class="firstContainer"> 
        
        <h1>
          <img src=" " alt="" class="banner">

        </h1>
        <h2 >
          <img src="/images/BannerImg.jpg" alt="imagem de abertura" class="imagem-inicial">
        </h2>
        
          <p class="texto-ini">which book do you want to look for ?</p>
          <p class="texto-ini2"> Explore our catalog and find your next read.   </p>
        
          <div class="caixa-procura">
          <input type="text" class="Caixa-Texto" placeholder="research your book">
          <a class="botao">
          <img class="lop-blue"  src="/images/loupe-blue.svg" alt="" width="25px" height="25px">
          <img class="lop-white" src="/public/images/loupe-white.svg" alt="" width="25px" height="25px">
          </a>
        
        </div>
      </div>



          <div class="secondContainer">
            <p class=""> <strong> Trending Books </strong></p>
            <div id="highligth" class="highligth">
              <div class="highligthChild" id="item1">item1</div>
              <div class="highligthChild" id="item2">item2</div>
              <div class="highligthChild" id="item3">item3</div>
              <div class="highligthChild" id="item4">item4</div>
              <div class="highligthChild" id="item5">item5</div>
            </div>
            
          </div>

          <div class="TContainer">
            <p class=" catego"> <strong>  <img class="img-cate" src="/images/FOLDER_NOTCH_OPEN.svg" alt=" cat">Categories </strong></p>
            <div class="highligth1">
              <div class="highligthChild1"> <a href="#"> <button>action</button> </a></div>
              <div class="highligthChild1"> <a href="#"> <button>Classics</button> </a> </div>
              <div class="highligthChild1"> <a href="#"> <button>Fantasy</button> </a> </div>
            </div>
            <div class="highligth1">
            <div class="highligthChild2"> <a href="#"> <button>Horror</button> </a> </div>
              <div class="highligthChild2">  <a href="#"> <button> Adventure stories</button> </a> </div>
              <div class="highligthChild2">  <a href="#"> <button> Historical fiction</button>  </a> </div>
            </div>
          </div>
          
          
 
          <div class="fourthContainer">
            <p class=""> <strong>Romance</strong></p>
            <div class="highligth4">
              <div class="highligthChild4"> <a href="#"> action </a></div>
              <div class="highligthChild4"> <a href="#"> Classics </a> </div>
              <div class="highligthChild4"> <a href="#"> Fantasy </a> </div>
              <div class="highligthChild4"> <a href="#"> Fantasy </a> </div>
              <div class="highligthChild4"> <a href="#"> Fantasy </a> </div>

            </div>
            <div class="highligth1">
              
            <div class="highligthChildbuy"> 
              <div class="button-row">
                <p>Valor</p>
                <a href=""><p>S</p></a>
              </div>
              <a href="#"> <button class="button2"><img src="/images/SHOPPING_CART.svg" alt=""></button></a> 
            </div>

            <div class="highligthChildbuy"> 
              <div class="button-row">
                <p>Valor</p>
                <a href=""><p>S</p></a>
              </div>
              <a href="#"> <button class="button2"><img src="/images/SHOPPING_CART.svg" alt=""></button></a> 
            </div>

            <div class="highligthChildbuy"> 
              <div class="button-row">
                <p>Valor</p>
                <a href=""><p>S</p></a>
              </div>
              <a href="#"> <button class="button2"><img src="/images/SHOPPING_CART.svg" alt=""></button></a> 
            </div>

            <div class="highligthChildbuy"> 
              <div class="button-row">
                <p>Valor</p>
                <a href=""><p>S</p></a>
              </div>
              <a href="#"> <button class="button2"><img src="/images/SHOPPING_CART.svg" alt=""></button></a> 
            </div>

            <div class="highligthChildbuy"> 
              <div class="button-row">
                <p>Valor</p>
                <a href=""><p>S</p></a>
              </div>
              <a href="#"> <button class="button2"><img src="/images/SHOPPING_CART.svg" alt=""></button></a> 
            </div>
            </div>
          </div>

          
                
          <div class="fourthContainer">
            <p class=""> <strong>Adventure</strong></p> 
            <div class="highligth4">
              <div class="highligthChild4"> <a href="#"> action </a></div>
              <div class="highligthChild4"> <a href="#"> Classics </a> </div>
              <div class="highligthChild4"> <a href="#"> Fantasy </a> </div>
              <div class="highligthChild4"> <a href="#"> Fantasy </a> </div>
              <div class="highligthChild4"> <a href="#"> Fantasy </a> </div>

            </div>
            <div class="highligth1">
              
            <div class="highligthChildbuy"> 
              <div class="button-row">
                <p>Valor</p>
                <a href=""><p>S</p></a>
              </div>
              <a href="#"> <button class="button2"><img src="/images/SHOPPING_CART.svg" alt=""></button></a> 
            </div>

            <div class="highligthChildbuy"> 
              <div class="button-row">
                <p>Valor</p>
                <a href=""><p>S</p></a>
              </div>
              <a href="#"> <button class="button2"><img src="/images/SHOPPING_CART.svg" alt=""></button></a> 
            </div>

            <div class="highligthChildbuy"> 
              <div class="button-row">
                <p>Valor</p>
                <a href=""><p>S</p></a>
              </div>
              <a href="#"> <button class="button2"><img src="/images/SHOPPING_CART.svg" alt=""></button></a> 
            </div>

            <div class="highligthChildbuy"> 
              <div class="button-row">
                <p>Valor</p>
                <a href=""><p>S</p></a>
              </div>
              <a href="#"> <button class="button2"><img src="/images/SHOPPING_CART.svg" alt=""></button></a> 
            </div>

            <div class="highligthChildbuy"> 
              <div class="button-row">
                <p>Valor</p>
                <a href=""><p>S</p></a>
              </div>
              <a href="#"> <button class="button2"><img src="/images/SHOPPING_CART.svg" alt=""></button></a> 
            </div>
            </div>
          </div>




          <footer>
    
            <div class="conteiner-footer">
            <ul> <h3> <img src="/images/BookOpen.svg" alt=""> BookStore Project </h3></ul>
            
            
          
            
            
            <ul>  

              <ul class="nomes">  <li> <p>by Diego Deiro i Henrique Viana </p> </li> </ul>

                </div>

          
            <ul>

          </div>


            
            </footer>





        </main>
 
    

    <script src="/javascripts/getTrendingBooks.js"></script>






</body>


</html>