<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/Navbar.css">
</head>
<body>
    <nav>
        <a class="logo" href="/">BOOKSCORE</a>
        <div class="mobile-menu">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
        </div>
        <ul class="nav-list">
        <li><a class="navLinkClass" href="/">Home</a></li>
        <% if (email) { %>
            <li><a class="navLinkClass" href="#"><%= email %></a></li>
                <li><a class="navLinkClass" href="/logout">Logout</a></li>
            <% } else { %>
                <li><a class="navLinkClass" href="/Signup">Signup</a></li>
                <li><a class="navLinkClass" href="/Login">Login</a></li>
            <% } %>
            <li><a class="navLinkClass" href="#">Help</a></li>
        </ul>
    </nav>
</body>
</html>