<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/Navbar.css">

</head>

<body>
    <nav>
        <a style="color: orange;" class="logo" href="/"> <img style="margin-right: 20px;" src="/images/BookOpen.svg" alt="">BOOKSCORE</a>
        <div class="mobile-menu">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
        </div>
        <ul class="nav-list">
        <li><a class="navLinkClass" href="/">Home</a></li>
        <% if (email) { %>
            <li class="dropdown">
                <a class="navLinkClass" href="#"><%= email %></a>
                <ul class="dropdown-menu">
                    <li><a class="navLinkClass" href="/logout">Logout</a></li>
                    <li><a class="navLinkClass" href="#">Settings</a></li>
                    <% if (isAdmin) { %> 
                        <li><a class="navLinkClass" href="addBook">Add Book</a></li>
                    <% } %>
                </ul>
            <% } else { %>
                <li><a class="navLinkClass" href="/Signup">Signup</a></li>
                <li><a class="navLinkClass" href="/Login">Login</a></li>
            <% } %>
            <li><a class="navLinkClass" href="#">Help</a></li>
            <li><a href="/favoritePage"><img src="/images/favorite.svg" alt=""></a></li>
            <li><a href=""><img src="/images/SHOPPING_CART.svg" alt=""></a></li>
              

        </ul>
    </nav>

   

    <script src="/javascripts/Mobile-navbar.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('.dropdown').click(function(event) {
            event.stopPropagation();
            $('.dropdown-menu').toggle();
        });

        $(document).click(function(event) {
            if (!$(event.target).closest('.dropdown').length) {
                $('.dropdown-menu').hide();
            }
        });
    });
</script>



</body>
</html>