<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/pagbook.css">
    <title>Document</title>
</head>


<body>
 
    <header>
        <%- include(navbar) %>
      </header>   

     <main> 
        
        <div class="container">
            <div class="imagem" > <img src="/images/BannerImg.jpg" alt="sdsdds"></div>
            <div class="titulo">titulo</div>
            <div class="autor">autor</div>
            <div class="sinopsi">sinopsi</div>
            <div class="Valor">R$30,00</div>
            <div class="Carrinho"><a href="#" class="acarrinho"><button class="bntcarinho"><img src="/images/SHOPPING_CART.svg" alt=""></button></a></div>
            
            <div class="Comprar-agr">  <a href="#" class="acomprar"><button class="bntcomprar"> Buy Now </button></a>                                                                                                       </div>
            <div class="salvar"> <a href="#" class="asalvar"><button class="bntsalvar"><img src="/images/favorite.svg" alt=""></button></a></div>
            <div class="quantidade">quantidade</div>





        </div>







        <div class="fourthContainer">
            <p class="categoryText"><img class="img-cate" src="/images/FOLDER_NOTCH_OPEN.svg" alt="Categories">View More</p>
            <div class="highligth">
              <div class="highligthChild" id="item1Fantasy">item1</div>
              <div class="highligthChild" id="item2Fantasy">item2</div>
              <div class="highligthChild" id="item3Fantasy">item3</div>
              <div class="highligthChild" id="item4Fantasy">item4</div>
              <div class="highligthChild" id="item5Fantasy">item5</div>
            </div>
  
        </div>







     </main>
     













</body>
</html>