<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/signupPrototype" method="post">
        <label for="userName">User Name</label>
        <input type="text" name="userName" id="userName" required placeholder="User Name" minlength="8" maxlength="20" autocomplete="off" autofocus>

        <label for="fullName">Full Name</label>
        <input type="text" name="fullName" id="fullName"
        required placeholder="Full Name" minlength="10" autocomplete="off" autofocus>

        <label for="email">Email</label>
        <input type="email" name="email" id="email" required placeholder="Email" minlength="10" autocomplete="off" autofocus>

        <label for="password">Password</label>
        <input type="password" name="password" id="password" required minlength="6" placeholder="Password" autocomplete="off" autofocus>

        <input type="submit" value="Signup">

    </form>

    <div id="errorMessage"></div>
    <div id="successMessage"></div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
        document.querySelector('form').addEventListener('submit', function() {
            event.preventDefault();

        var formData = new FormData(this);

        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/signupPrototype', true);
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhr.onreadystatechange = function() {
            if (xhr.readyState === 4) {
            var response = JSON.parse(xhr.responseText);
            if (xhr.status === 500 || xhr.status === 400) {
                document.getElementById('errorMessage').innerHTML = response.errorMessage;
                document.getElementById('successMessage').classList.add('d-none'); 
                document.getElementById('errorMessage').classList.remove('d-none');
                document.getElementById('errorMessage').classList.add('d-block');         
            } else if (xhr.status === 201) {
                document.getElementById('successMessage').innerHTML = response.successMessage;
                document.getElementById('errorMessage').classList.add('d-none');  
                document.getElementById('successMessage').classList.remove('d-none');
                document.getElementById('successMessage').classList.add('d-block');  
                setTimeout(function() {
                location.reload();
            }, 1000); 
            }
            }
        };
        xhr.send(new URLSearchParams(formData).toString());
        });
    });
    </script>
</body>
</html>