<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
    <link rel="shortcut icon" href="/images/BookOpen.svg" type="image/x-icon">
    <link rel="stylesheet" href="/stylesheets/successPage.css">
</head>
<body>
    <header>
        <%- include(navbar) %>
    </header>

    <main>
        <div class="container">
            <img src="/images/success.svg" alt="">
            <h1>Thank you for your order!</h1>
            <button id="showReceipt">Recipe</button>
            <div class="goShop">
                <img src="/images/SHOPPING_CART _Black.svg" alt="">
                <a href="/">Continue Shopping</a>
            </div>
        </div>
    </main>

    <footer>
        All Rights Reserved: by Diego Deiro & Henrique Viana 
    </footer>

    <script>
       function showReceipt(data) {
            const receiptDiv = document.createElement('div');
            receiptDiv.classList.add('receipt');

            let totalAmount = 0;

            data.forEach(item => {
                const itemDiv = document.createElement('div');
                itemDiv.classList.add('receipt-item');
                const subtotal = item.quantity * item.bookPrice;
                totalAmount += subtotal;

                itemDiv.innerHTML = `
                    <p><strong>Book Title:</strong> ${item.bookTitle}</p>
                    <p><strong>Price:</strong> $${item.bookPrice}</p>
                    <p><strong>Quantity:</strong> ${item.quantity}</p>
                    <p><strong>Subtotal:</strong> $${subtotal}</p>
                `;
                receiptDiv.appendChild(itemDiv);
            });

            const totalDiv = document.createElement('div');
            totalDiv.classList.add('receipt-total');
            totalDiv.textContent = `Total: $${totalAmount},00`;
            receiptDiv.appendChild(totalDiv);

            document.body.appendChild(receiptDiv);
        }

        // Event listener for the button click
        const receiptButton = document.getElementById('showReceipt');
        receiptButton.addEventListener('click', () => {
            const queryString = window.location.search;
            const urlParams = new URLSearchParams(queryString);
            const dataString = urlParams.get('data');
            const data = JSON.parse(decodeURIComponent(dataString));

            // Call the function to display the receipt
            showReceipt(data);
        });
    </script>
    </script>
</body>

</html>