* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Container that holds the book's information such as cover, title, author, price and etc*/
.mainContainer {
    width: 100%; 
    height: auto; 
    margin: auto;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px; 
    margin-bottom: 250px;
    
}

/*Book cover container*/
.imageContainer {
    width: 400px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px; 
}

.imageContainer img {
    max-width: 100%;
    max-height: 100%;
    padding: 10px;
}

/*Container for the book's information and bookInfoChild container*/
.bookInfoContainer {
    width: 700px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*Container for cart and buy buttons*/
.bookInfoChild {
    width: 70%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.bookInfoChild p {
    margin: 0;
}

/*Container where the price text and value are*/
.bookInfoChild4_SubItems {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Cart and buy buttons*/
#cartBtn,
#buyNowBtn {
    border: 1px solid black;
    border-radius: 10px;
    width: 190px;
    text-align: center;
    padding: 3px;
    text-decoration: none;
    margin-top: 20px;
}

#cartBtn {
    background-color: #FDBF0F;
}

#buyNowBtn {
    background-color: #F9784B;
    font-size: 20px;
    color: black;
    padding: 5px;
}

/*Book data containers*/
#authorContainer,  #synopsisContainer, #categoryContainer{
    border: 2px dotted black;
    box-shadow: 6px 6px 6px #676767;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.2em;
    margin-top: 10px;
    margin-bottom: 20px;
}

#synopsisContainer {
    margin-bottom: 40px;
}

#titleContainer {
    font-size: 2em;
}

#titleContainer img{
    border: 1px solid black;
    padding: 10px;
    padding: 10px;
    border-radius: 10px;
}

#buyNowBtn {
    transition: 0.5s;
}

/*Container for each book cover in the View more section*/
.highligthChild {
    display: flex;
    align-items: center;
    justify-content: center;
}

.highligthChild img {
    width: 479;
    height: 316px;
    object-fit: cover; 

}

/*Cart*/
.sidebar {
    width: 600px;
    max-height: calc(100vh - 200px);
    position: fixed;
    top: 100px; 
    right: -600px; 
    background-color: white;
    color: #fff;
    transition: right 0.3s;
    padding: 20px;
    overflow-y: auto;
    z-index: 999; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 
}

.sidebar.active {
    right: 0; 
}

/*Cart close buttom*/
.closeSidebarButton {
    width: 30px;
    border: none;
    cursor: pointer;
    background-color: white;
}

.sidebarHeader {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding-bottom: 20px;
}

/*Cart popup message*/
.cartMessage {
    font-size: 1em;
    color: Black;
}

/*Container for the books in the cart*/
.bookContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px dotted black;
    border-radius: 15px;
    padding: 20px;
    margin: 10px;
    color: black;
}

/*Container for each book details*/
.bookDetailsContainer {
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    justify-content: space-evenly;
    flex-grow: 1; 
    padding-left: 20px; 
}

/*First and second divs for book's information*/
.bookDetail1, .bookDetail2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 10px; 
    width: 100%;
}

.bookDetail1 p {
    margin-bottom: 5px;
    font-size: 2em;
    margin-left: 10px; 
    white-space: normal; 
}

.bookDetail2 p {
    margin-bottom: 5px;
    font-size: 1.3em;
    margin-left: 10px; 
    white-space: normal;
}

/*Container to view the subtotal and finish the purchase*/
.buyContainer {
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    justify-content: space-evenly;
    flex-grow: 1; 
    padding-left: 20px; 
    margin-bottom: 10px;
    color: black;
    height: 200px;
    padding: 20px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 15px;
}

.buyContainerDetails1  .subtotalValue{
    border: 1px solid black;
    border-radius: 15px;
    background-color: #FDBF0F;
}

.subtotalValue {
    padding: 10px;
}

/*Containers for the buyContainer elements*/
.buyContainerDetails1 {
    display: flex; 
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px; 
}

.buyContainerDetails2 {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.buyContainerDetails2 a {
    text-align: center;
    width: 100%;
    font-size: 2em;
    border: 1px solid #F9784B;
    background-color: #F9784B;
    border-radius: 15px;
    padding: 5px;
}

/*Book to remove a book from the user's cart*/
.removeBookBtn {
    width: 30px;
    height: 30px;
    margin-left: 5px;

    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.coverImg {
    width: 100px;
    height: 150px;
}


footer {
    background-color: darkgray;
    padding: 10px;
    text-align: center;
}
  
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

/*Media Screen to responsiveness*/
@media (max-width: 600px) {
    .mainContainer {
        flex-direction: column; 
    }

    .imageContainer {
        width: 100%; 
        height: auto; 
        margin-right: 0; 
        margin-bottom: 20px; 

    }

    .bookInfoContainer {
        width: 100%; 
        height: auto; 
    }

    .bookInfoChild {
        width: 100%; 
        margin-top: 10px;
        flex-direction: column; 
    }

    .bookInfoChild3 p {
        padding: 0 20px;
    }

    .bookInfoChild4_SubItems {
        flex-direction: column; 
        margin-top: 10px; 
    }
}


















