* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainContainer {
    width: 100%; 
    height: auto; 
    margin: auto;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px; 
    margin-bottom: 250px;
    
}

.imageContainer {
    width: 400px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px; 
}

.imageContainer img {
    max-width: 100%;
    max-height: 100%;
    padding: 10px;
}

.bookInfoContainer {
    width: 700px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bookInfoChild {
    width: 70%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.bookInfoChild p {
    margin: 0;
}

.bookInfoChild3 p {
    text-align: justify;
    padding: 0 50px;
}

.bookInfoChild4_SubItems {
    display: flex;
    align-items: center;
    justify-content: center;
}

#stockNumber {
    border: 1px solid black;
    border-radius: 25%;
    width: 30px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

.bookInfoChild5 {
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#cartBtn,
#buyNowBtn {
    border: 1px solid black;
    border-radius: 10px;
    width: 190px;
    text-align: center;
    padding: 3px;
    text-decoration: none;
    margin-top: 20px;
}

#cartBtn {
    background-color: #FDBF0F;
}

#buyNowBtn {
    background-color: #F9784B;
    font-size: 20px;
    color: black;
    padding: 5px;
}

#authorContainer,  #synopsisContainer, #categoryContainer{
    border: 2px dotted black;
    box-shadow: 6px 6px 6px #676767;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.2em;
    margin-top: 10px;
    margin-bottom: 20px;
}

#synopsisContainer {
    margin-bottom: 40px;
}

#titleContainer {
    font-size: 2em;
}

#titleContainer img{
    border: 1px solid black;
    padding: 10px;
    padding: 10px;
    border-radius: 10px;
}

#priceStockContainer {
    font-size: 1.3em;
}


.stockBtn {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    padding-left: 6px;
    padding-right: 6px;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    border: 1px solid black;
    border-radius: 50%;
}

footer {
    background-color: darkgray;
    padding: 10px;
    text-align: center;
  }
  
  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    
  }

@media (max-width: 600px) {
    .mainContainer {
        flex-direction: column; 
    }

    

    .imageContainer {
        width: 100%; 
        height: auto; 
        margin-right: 0; 
        margin-bottom: 20px; 

    }

    .bookInfoContainer {
        width: 100%; 
        height: auto; 
    }

    .bookInfoChild {
        width: 100%; 
        margin-top: 10px;
        flex-direction: column; 
    }

    .bookInfoChild3 p {
        padding: 0 20px;
    }

    .bookInfoChild4_SubItems {
        flex-direction: column; 
        margin-top: 10px; 
    }
}












.menuOculto {
    background: red;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    width: 1; /* Defina a largura desejada para o menu */
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 10px;
    float: right;
    width: 0;
    z-index: 1;
}

.menuOculto a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
}

.menuconteiner .btnclose {
    margin-left: 125px;
    font-size: 30px;
}

#buyNowBtn {
    transition: 0.5s;
}

@media screen and (max-height: 450px) {
    .menuconteiner {}
}





