.container {
    height: 600px;
    max-width: 1500px;
    margin: 20px auto;
    background: green;
  
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows:  100px 100px 100px 100px 100px;
    gap: 20px;
    
        
    
    
    
}
  
div{
    
  
}


.imagem{

background: rgb(229, 255, 0);

}
.titulo{
 background: red;

    width: 50;
    height: 30;

    display: flex;
    justify-content: center;
    text-align: center;
}
.autor{

    background: lightcoral;

    grid-column: 2;
    grid-row: 2;

    max-width: 900px;
    
    
}
  
.sinopsi{
background: aqua;

grid-column: 2;
grid-row: 3;



}

.Valor{
background: rebeccapurple;
grid-column: 2;
grid-row: 4;

display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        max-width: 500px;
        
        font-size: 22PX;
        text-decoration: none;
        border: 1px solid black;
        width: 65px;
        height: 30px;
        text-align: center;
        padding: 8px;
        border-radius: 15px;
        margin: 40px;
        background-color: white;
        box-shadow: 3px 3px 3px black;
        font-style: italic;
        font-weight: 600;
        color: black;
        
        

}

.Carrinho{
background: yellow;

grid-column: 2;
grid-row: 5;





}

.Comprar-agr{
background: orange;

grid-column: 3;
grid-row: 5;

}

.salvar{
background: orangered;

flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 100%p;
    
    


}

.quantidade{
 background: fuchsia;
grid-column: 3;
grid-row: 4;

}




.fourthContainer {
    width: 100%;
    max-width: 1500px;
    margin: 20px auto;
    min-height: 500px;
    padding-bottom: 50px;
    margin-bottom: 30px;
    min-height: 300px;
  }

  .categoryText {
    font-size: 3em;
  }


  .highligth {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .highligthChild {
    width: 100%;
    max-width: 250px;
    height: 400px;
    background-color: brown;
    margin: 20px;
    border-radius: 15px;
    border: 1px solid #a70404;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .bntcarinho{

    background: yellow;

   
    
    display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        width: 100%;
        max-width: 500px;
        
        font-size: 2em;
        text-decoration: none;
        border: 1px solid black;
        width: 320px;
        height: 40px;
        text-align: center;
        padding: 8px;
        border-radius: 15px;
        margin: 40px;
        background-color: orange;
        box-shadow: 3px 3px 3px black;
        font-style: italic;
        font-weight: 600;
        color: red;
        cursor: pointer;
        

        

  }

  .acarrinho{
    display: flex;
    text-align: center;
    justify-content: center;
    
    width: 100%;
        height: 40px;


  }

  .bntsalvar{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 500px;
    
    font-size: 2em;
    text-decoration: none;
    border: 1px solid black;
    width: 50px;
    height: 40px;
    text-align: center;
    padding: 8px;
    border-radius: 15px;
    margin: 40px;
    background-color: orange;
    box-shadow: 3px 3px 3px black;
    font-style: italic;
    font-weight: 600;
    color: red;
    cursor: pointer;



  }

  .asalvar{

    display: flex;
    justify-content: end;

  }

  .bntcomprar{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 500px;
    
    font-size: 1em;
    text-decoration: none;
    border: 1px solid black;
    width: 230px;
    height: 40px;
    text-align: center;
    padding: 8px;
    border-radius: 15px;
    margin: 40px;
    background-color: orange;
    box-shadow: 3px 3px 3px black;
    font-style: italic;
    font-weight: 600;
    color: black;
    cursor: pointer;


  }